<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('宿舍检查明细列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>周数：</label>
                                <select name="weeknum" th:with="type=${@dict.getType('sys_week_num')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>周名称：</label>
                                <select name="weekname" th:with="type=${@dict.getType('sys_week_name')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>宿舍号：</label>
                                <input type="text" name="room"/>
                            </li>
                            <li>
                                <label>检查日期：</label>
                                <input type="text" class="time-input" placeholder="请选择检查日期" name="checkdate"/>
                            </li>
                            <li>
                                <label>创建人：</label>
                                <input type="text" name="createBy"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pyzxsub:sub:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pyzxsub:sub:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pyzxsub:sub:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pyzxsub:sub:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pyzxsub:sub:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pyzxsub:sub:remove')}]];
        var weeknumDatas = [[${@dict.getType('sys_week_num')}]];
        var weeknameDatas = [[${@dict.getType('sys_week_name')}]];
        var nameDatas = [[${@dict.getType('pyzx_student_name')}]];
        var gradeDatas = [[${@dict.getType('sys_dept_list')}]];
        var stuclassDatas = [[${@dict.getType('pyzx_student_class')}]];
        var sexDatas = [[${@dict.getType('sys_user_sex')}]];
        var prefix = ctx + "pyzxsub/sub";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "宿舍检查明细",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'weeknum',
                    title: '周数',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(weeknumDatas, value);
                    }
                },
                {
                    field: 'weekname',
                    title: '周名称',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(weeknameDatas, value);
                    }
                },
                {
                    field: 'name',
                    title: '姓名',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(nameDatas, value);
                    }
                },
                {
                    field: 'grade',
                    title: '年级',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(gradeDatas, value);
                    }
                },
                {
                    field: 'stuclass',
                    title: '班级',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(stuclassDatas, value);
                    }
                },
                {
                    field: 'room',
                    title: '宿舍号'
                },
                {
                    field: 'bad',
                    title: '床号'
                },
                {
                    field: 'sex',
                    title: '性别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sexDatas, value);
                    }
                },
                {
                    field: 'standard',
                    title: '扣分'
                },
                {
                    field: 'standardreason',
                    title: '扣分原因'
                },
                {
                    field: 'checkdate',
                    title: '检查日期'
                },
                {
                    field: 'createBy',
                    title: '创建人'
                },
                {
                    field: 'checkedBy',
                    title: '核对人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>