<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pyzxdormitory.mapper.PyzxDormitoryExamineMapper">
    
    <resultMap type="PyzxDormitoryExamine" id="PyzxDormitoryExamineResult">
        <result property="id"    column="id"    />
        <result property="weekname"    column="weekname"    />
        <result property="weeknum"    column="weeknum"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="checkedBy"    column="checked_by"    />
    </resultMap>

    <resultMap id="PyzxDormitoryExaminePyzxDormitoryDetailResult" type="PyzxDormitoryExamine" extends="PyzxDormitoryExamineResult">
        <collection property="pyzxDormitoryDetailList" ofType="PyzxDormitoryDetail" column="id" select="selectPyzxDormitoryDetailList" />
    </resultMap>

    <resultMap type="PyzxDormitoryDetail" id="PyzxDormitoryDetailResult">
        <result property="id"    column="id"    />
        <result property="pid"    column="pid"    />
        <result property="grade"    column="grade"    />
        <result property="stuclass"    column="stuclass"    />
        <result property="room"    column="room"    />
        <result property="bad"    column="bad"    />
        <result property="sex"    column="sex"    />
        <result property="standard"    column="standard"    />
        <result property="standardreason"    column="standardreason"    />
        <result property="checkdate"    column="checkdate"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectPyzxDormitoryExamineVo">
        select id, weekname, weeknum, create_time, update_time, create_by, checked_by from pyzx_dormitory_examine
    </sql>

    <select id="selectPyzxDormitoryExamineList" parameterType="PyzxDormitoryExamine" resultMap="PyzxDormitoryExamineResult">
        <include refid="selectPyzxDormitoryExamineVo"/>
        <where>  
            <if test="weekname != null  and weekname != ''"> and weekname = #{weekname}</if>
            <if test="weeknum != null  and weeknum != ''"> and weeknum = #{weeknum}</if>
            <if test="checkedBy != null  and checkedBy != ''"> and checked_by = #{checkedBy}</if>
        </where>
    </select>
    
    <select id="selectPyzxDormitoryExamineById" parameterType="Long" resultMap="PyzxDormitoryExaminePyzxDormitoryDetailResult">
        select id, weekname, weeknum, create_time, update_time, create_by, checked_by
        from pyzx_dormitory_examine
        where id = #{id}
    </select>

    <select id="selectPyzxDormitoryDetailList" resultMap="PyzxDormitoryDetailResult">
        select id, pid, grade, stuclass, room, bad, sex, standard, standardreason, checkdate, create_time, update_time, create_by
        from pyzx_dormitory_detail
        where pid = #{pid}
    </select>

    <insert id="insertPyzxDormitoryExamine" parameterType="PyzxDormitoryExamine" useGeneratedKeys="true" keyProperty="id">
        insert into pyzx_dormitory_examine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="weekname != null">weekname,</if>
            <if test="weeknum != null">weeknum,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="checkedBy != null">checked_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="weekname != null">#{weekname},</if>
            <if test="weeknum != null">#{weeknum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="checkedBy != null">#{checkedBy},</if>
         </trim>
    </insert>

    <update id="updatePyzxDormitoryExamine" parameterType="PyzxDormitoryExamine">
        update pyzx_dormitory_examine
        <trim prefix="SET" suffixOverrides=",">
            <if test="weekname != null">weekname = #{weekname},</if>
            <if test="weeknum != null">weeknum = #{weeknum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="checkedBy != null">checked_by = #{checkedBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePyzxDormitoryExamineById" parameterType="Long">
        delete from pyzx_dormitory_examine where id = #{id}
    </delete>

    <delete id="deletePyzxDormitoryExamineByIds" parameterType="String">
        delete from pyzx_dormitory_examine where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deletePyzxDormitoryDetailByPids" parameterType="String">
        delete from pyzx_dormitory_detail where pid in 
        <foreach item="pid" collection="array" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </delete>

    <delete id="deletePyzxDormitoryDetailByPid" parameterType="Long">
        delete from pyzx_dormitory_detail where pid = #{pid}
    </delete>

    <insert id="batchPyzxDormitoryDetail">
        insert into pyzx_dormitory_detail( id, pid, grade, stuclass, room, bad, sex, standard, standardreason, checkdate, create_time, update_time, create_by) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.pid}, #{item.grade}, #{item.stuclass}, #{item.room}, #{item.bad}, #{item.sex}, #{item.standard}, #{item.standardreason}, #{item.checkdate}, #{item.createTime}, #{item.updateTime}, #{item.createBy})
        </foreach>
    </insert>

</mapper>