<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.information.mapper.PyzxStudentInformationMapper">
    
    <resultMap type="PyzxStudentInformation" id="PyzxStudentInformationResult">
        <result property="id"    column="id"    />
        <result property="Name"    column="Name"    />
        <result property="Grade"    column="Grade"    />
        <result property="Classes"    column="Classes"    />
        <result property="Manage"    column="Manage"    />
        <result property="studentNumber"    column="Student_number"    />
        <result property="Birthday"    column="Birthday"    />
    </resultMap>

    <sql id="selectPyzxStudentInformationVo">
        select id, Name, Grade, Classes, Manage, Student_number, Birthday from pyzx_student_information
    </sql>

    <select id="selectPyzxStudentInformationList" parameterType="PyzxStudentInformation" resultMap="PyzxStudentInformationResult">
        <include refid="selectPyzxStudentInformationVo"/>
        <where>  
            <if test="Name != null  and Name != ''"> and Name like concat('%', #{Name}, '%')</if>
            <if test="Grade != null  and Grade != ''"> and Grade = #{Grade}</if>
            <if test="Classes != null  and Classes != ''"> and Classes = #{Classes}</if>
            <if test="Manage != null  and Manage != ''"> and Manage = #{Manage}</if>
            <if test="studentNumber != null  and studentNumber != ''"> and Student_number = #{studentNumber}</if>
            <if test="Birthday != null "> and Birthday = #{Birthday}</if>
        </where>
    </select>
    
    <select id="selectPyzxStudentInformationById" parameterType="Long" resultMap="PyzxStudentInformationResult">
        <include refid="selectPyzxStudentInformationVo"/>
        where id = #{id}
    </select>

    <insert id="insertPyzxStudentInformation" parameterType="PyzxStudentInformation">
        insert into pyzx_student_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="Name != null and Name != ''">Name,</if>
            <if test="Grade != null">Grade,</if>
            <if test="Classes != null">Classes,</if>
            <if test="Manage != null">Manage,</if>
            <if test="studentNumber != null">Student_number,</if>
            <if test="Birthday != null">Birthday,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="Name != null and Name != ''">#{Name},</if>
            <if test="Grade != null">#{Grade},</if>
            <if test="Classes != null">#{Classes},</if>
            <if test="Manage != null">#{Manage},</if>
            <if test="studentNumber != null">#{studentNumber},</if>
            <if test="Birthday != null">#{Birthday},</if>
         </trim>
    </insert>

    <update id="updatePyzxStudentInformation" parameterType="PyzxStudentInformation">
        update pyzx_student_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="Name != null and Name != ''">Name = #{Name},</if>
            <if test="Grade != null">Grade = #{Grade},</if>
            <if test="Classes != null">Classes = #{Classes},</if>
            <if test="Manage != null">Manage = #{Manage},</if>
            <if test="studentNumber != null">Student_number = #{studentNumber},</if>
            <if test="Birthday != null">Birthday = #{Birthday},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePyzxStudentInformationById" parameterType="Long">
        delete from pyzx_student_information where id = #{id}
    </delete>

    <delete id="deletePyzxStudentInformationByIds" parameterType="String">
        delete from pyzx_student_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>